@media screen and (min-width: 992px){
    body{
        padding-left: 20px;
        padding-right: 20px;
    }  
    
    body > div#root > header,
    body > div#root > section{
        margin-bottom:40px;
    }
    header{
        img{
            height:68px;
            width: 210px;
        }
        nav{
            width:240px;
            height:40px;
            margin-right: 10px;
            ul.header-menu{
                li{
                    a{
                        font-size: 24px;
                    }
                }
            }
        }
    }
    /*++++++++++++++++ HOME */
    section.banniere{
        justify-content: center;
        border-radius: 25px;
        &::after{
            border-radius: 25px;
        }
        h1{
            font-size: 48px;
        }
    }
    section.gallerie{
        
        background-color: #F7F7F7;
        article.thumb{
            margin:20px;
            width: 340px;
            height: 340px;
            
            figure{
                figcaption{
                    h3{
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 26px;
                    }
                }

            }
        }
    }
    /*++++++++++++++++ FICHE LOGEMENT */
    div.carrousel{
        margin-bottom: 50px;
        span.left-click,
        span.right-click{

            right: 3%;
        }
        span.left-click{
            left: 3%;
            &::before{
                transform: rotate(135deg);
            }
        }
    }
    section.content{
        /*min-height: 715px;
        max-height: 1400px;*/
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2%;
        div.details, aside.owner{
            width:48%;
        }
        aside.owner{
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            div.owner-id{
                width:30%;
                justify-content: space-between;
                h4{
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 26px;
                }
                figure{
                    width: 64px;
                    height: 64px;
                }
            }
            div.notation{
                i{
                    font-size: 30px;
                }
            }
        }
        div.details{
            h1, h4{
                font-size: 36px;
                font-weight: 500;
            }
            h4{
                margin-top: 2%;
                font-size: 18px;
            }
            div.tags{
                margin-top: 2%;
                display: flex;
                justify-content: flex-start;
                width: auto;
                p.tag{
                    background-color: var(--color-primary);
                    width:auto;
                    height: 25px;
                    padding: 8px;
                    margin-right: 8px;
                    line-height: 8px;
                    border-radius: 10px;
                    text-align: center;
                    color: var(--color-secondary);
                }
            }
        }
        div.content-text,
        div.content-text-about{
            margin-top: 2%;
            width: 100%;
            height: fit-content;
            display: flex;
            article{ 
                margin-top: 30px;
                h4{
                    height: 52px;//52
                    line-height: 26px;//26
                    border-radius:10px;//10
                    &::after{
                        top:calc(50% - ((15px + 2px)/2));
                        width: 15px;//15
                        height: 15px;
                    }
                }
                p{ 
                    padding: 20px;
                    span{
                        position: inherit;
                        &.open{
                            top: 0%;
                            opacity: 1;
                            transition: all 0.2s ease 0.3s;
                        }
                        &.close{
                            opacity: 0;
                            top: -100%;
                            transition: all 0.2s ease;
                        }
                    }
                    &.open{
                        transition: all 0.3s ease-in;
                    }
                    &.close{
                        height: 0px;
                        padding: 0px;
                        transition: all 0.3s ease-in 0.2s;
                    }
                }
            }
        }
        div.content-text{ 
            justify-content: space-between;
            height: 400px;
            article{
                width:48%;
            }
        }
    }
    /*++++++++++++++++ A PROPOS */
    div.a-propos{
        height: 250px;
        border-radius:25px ;
    }
    div.content-text-about {
        flex-direction: column;
        align-items: center;
        article{
            width:80%;
        }
    }
    /*++++++++++++++++ ERROR 404 */
    section._404{
        text-align: center;
        h1{
            font-size: 288px;
            line-height: 263px;
        }
        p{
            font-size: 36px;
            line-height: 51px;
            margin-bottom: 182px;
        }
        a{
            font-size: 18px;
            line-height: 25.76px;
        }
    }
}