@media screen and (min-width:0px) and (max-width: 600px){
    body{
        min-width: 300px;
        padding-left: 10px;
        padding-right: 10px;
    }  
    
    body > div#root > header,
    body > div#root > section{
        margin-bottom:20px;
    }

    header{
        img{
            width: 145px;
            min-height: 37px;
            max-height: 47px;
            height:50%;
        }
        nav{
        width:116px;
        height:40px;
        margin-right: 0px;
        ul.header-menu{
            li{
                a{
                    font-size: 12px;
                }
            }
        }
    }
    }
    section.banniere{
        height: 111px;
        justify-content: flex-start;
        border-radius: 10px;
        &::after{
            border-radius: 10px;
        }
        h1{
            width:217px;
            font-size: 24px;
            line-height: 24px;
            margin-left: 20px;
        }
    }
    section.gallerie{
        padding:0px;
        background-color: none;
        article.thumb{
            margin:0;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            height: 250px;
            figure{
                figcaption{
                    h3{
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 26px;
                    }
                }
            }
        }
    }
    /*++++++++++++++++ FICHE LOGEMENT */
    section.content{
        div.carrousel{
            margin-bottom: 20px;
            height: 255px;
            border-radius: 10px;
            
            span.right-click{
                right:15px;
                &::before{
                    right: 10px;
                }
            }
            span.left-click{
                left: 15px;
            }
        }
    
        padding-left: 5px;
        padding-right: 5px;
        height:fit-content;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2%;
        div.details, aside.owner{
            width:100%;
        }
        aside.owner{
            margin-top: 15px;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
            div.owner-id{
                width:30%;
                justify-content: space-between;
                h4{
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 17px;
                    text-align: left;
                    /*br{
                        display: none;
                    }*/
                }
                figure{
                    width: 32px;
                    height: 32px;
                }
            }
            div.notation{
                i{
                    font-size: 15px;
                }
            }
        }
        div.details{
            h1{
                font-size: 18px;
            }
            h1, h4{
                font-weight: 500;
            }
            h4{
                margin-top: 2%;
                font-size: 14px;
            }
            div.tags{
                margin-top: 2%;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                width: auto;
                p.tag{
                    font-size: 10px;
                    background-color: var(--color-primary);
                    width:auto;
                    height: 15px;
                    padding-left: 8px;
                    padding-right: 8px;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    margin-right: 8px;
                    line-height: 9.26px;
                    border-radius: 5px;
                    text-align: center;
                    color: var(--color-secondary);
                }
            }
        }
    }
    /*++++++++++++++++ A PROPOS && LOGEMENT */
    section.content{
        /*div.content-text{
            height: 400px;
        }
        div.content-text-about{
            height: 400px;
        }*/
        div.content-text,
        div.content-text-about{
            height: fit-content;
            margin-top: 2%;
            width: 100%;
            display: flex;
            flex-direction: column;
            article{
                margin-bottom: 30px;
                h4{
                    font-size: 13px;
                    height: 30px;//52
                    line-height: 12px;//26
                    border-radius: 5px;//10
                    &::after{
                    top:calc(60% - ((15px + 2px)/2));
                        width: 8px;//15
                        height: 8px;
                    }
                }
                p{ 
                    font-size: 12px;
                    padding: 20px; 
                }
            }
        }
    }
    /*++++++++++++++++ A PROPOS */
    div.a-propos{
        height: 220px;
        border-radius:10px ;
    }
    div.ap.content-text-about{
        article.ap, article{
            width:100%;
        }
    }
    /*++++++++++++++++ ERROR 404 */
    section._404{
        text-align: center;
        h1{
            font-size: 96px;
            line-height: 136px;
        }
        p{
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 182px;
        }
        a{
            font-size: 14px;
            line-height: 19px;
        }
    }
    /* ++++++++++++++++ FOOTER */
    footer{
        p{
            font-size: 12px;
            line-height: 17px;
        }
    }
}