@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import '_var.scss';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

footer{
    background-color: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width:122px;
        height: 40px;
        margin-bottom: 30px;
        filter: invert(100%) sepia(0%) saturate(0%)
        hue-rotate(169deg) brightness(103%) contrast(101%);
    }
    p{
        color: #FFFFFF;
        font-weight: 500;
        font-size: 24px;
    }
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Montserrat', sans-serif;
    color:var(--color-primary);
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

h1.slogan{
    color:white;
}
header{
    width:auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    img{
        width:150px;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:150px;
        height:40px;
        margin-right: 15px;
        ul.header-menu{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            li{
                width:fit-content;
                /*a.normale{
                   color: var(--color-primary);
                   text-decoration: none; 
                }*/
                a.on-it{
                    border-bottom: 2px solid var(--color-primary);
                }
            }
        }
    }
}

section.banniere{
    position: relative;
    height:250px;
    background-color: gray;
    background-image: url(../assets/images/banniere_bg.png);
    background-size: cover;
    display: flex;
    align-items: center;
    &::after{
        content:'';
        position: absolute;
        top:0px; left: 0px;
        width: 100%;
        height: 100%;
        mix-blend-mode: darken;
        background: black;
        opacity: 0.3;
    }
    h1{
        font-weight: 500;
        position: relative;
        z-index: 1;
    }
}
section.gallerie{
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap row;
    article.thumb{
        background-color: var(--color-primary);
        border-radius: 10px;
        overflow: hidden;
        figure, img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
        }
        figure{
            figcaption{
                position: absolute;
                z-index: 1;
                bottom: 0px;
                margin: 20px;
                h3{
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 26px;
                    color:var(--color-secondary)
                }
            }
            &::after{
                content: '';
                position: absolute;
                top: 0; left:0;
                width: 100%;
                height: 100%;
                background:linear-gradient(
                180deg, 
                rgba(255, 255, 255, 0) 0%, 
                rgba(0, 0, 0, 0.5) 100%
                );
            }
        }
    }
}
/*++++++++++++++++ FICHE LOGEMENT */
div.carrousel{
    position: relative;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    overflow: hidden;
    figure{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: baseline;
        position: relative;
        img, img.x-plan{
            position: absolute;
            z-index: 0;
            width: 100%;
            height: inherit;
            object-fit: cover;
        }
        img.first-plan{
            z-index: 2;
        }
        img.second-plan{
            z-index: 1;
        }
        figcaption{
            position: absolute;
            z-index: 3;
            bottom:0;
            color: var(--color-secondary);
        }
    }
    span.left-click,
    span.right-click{
        position: absolute;
        cursor: pointer;
        z-index: 3;
        width: var(--carrousel-arrow-w);
        height: var(--carrousel-arrow-h);
        top:calc(
            50% - (
                (var(--carrousel-arrow-h) + 
                (var(--carrousel-arrow-border-w) * 2)) / 2
            )
        );
    }
    span.right-click::before,
    span.left-click::after{
            content: "";
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 3px;
            border-bottom: var(--carrousel-arrow-border-w) solid var(--color-secondary);
            border-right: var(--carrousel-arrow-border-w) solid var(--color-secondary);
        }
        span.right-click{
            right: 15px;
            &::before{
                transform: rotate(-45deg);

            }
        }
        span.left-click{
            left: 15px;
            &::after{
                transform: rotate(135deg);
            }
        }
    .one-pic{
        display: none;
    }
}
section.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2%;
    div.details, aside.owner{
        width:48%;
    }
    aside.owner{
        display: flex;
        div.owner-id{
            display: flex;
            justify-content: space-between;
            h4{
                text-align:right;
            }
            figure{
                background-color: gray;
                border-radius: 50%;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
        div.notation{
            margin-top: 2%;
            i{
                color: #e3e3e3;
            }
            i.rate{
                color:var(--color-primary);
            }
        }
    }
    div.details{
        h1, h4{
            font-size: 36px;
            font-weight: 500;
        }
        h4{
            margin-top: 2%;
            font-size: 18px;
        }
        div.tags{
            margin-top: 2%;
            display: flex;
            justify-content: flex-start;
            width: auto;
            p.tag{
                background-color: var(--color-primary);
                width:auto;
                height: 25px;
                padding: 8px;
                margin-right: 8px;
                line-height: 8px;
                border-radius: 10px;
                text-align: center;
                color: var(--color-secondary);
            }
        }
    }
}
/*++++++++++++++++ A PROPOS && LOGEMENT */

section.content{
        display: flex;
        min-height: 715px;
        max-height: 1400px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2%;
        div.details, aside.owner{
            width:48%;
        }
        aside.owner{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            div.owner-id{
                width:30%;
                display: flex;
                justify-content: space-between;
                h4{
                    text-align:right;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 26px;
                }
                figure{
                    background-color: gray;
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
            }
            div.notation{
                margin-top: 2%;
                i{
                    color: #e3e3e3;
                    font-size: 30px;
                }
                i.rate{
                    color:var(--color-primary);
                }
            }
        }
        div.details{
            h1, h4{
                font-size: 36px;
                font-weight: 500;
            }
            h4{
                margin-top: 2%;
            }
            div.tags{
                margin-top: 2%;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                width: auto;
                p.tag{
                    background-color: var(--color-primary);
                    width:auto;
                    margin-right: 8px;
                    margin-bottom: 10px;
                    text-align: center;
                    color: var(--color-secondary);
                }
            }
        }
    div.content-text,
    div.content-text-about{
        margin-top: 2%;
        width: 100%;
        height: fit-content;
        display: flex;
        article{
            h4{
                width: 100%;
                font-size: 18px;
                font-weight: 500;
                padding: 10px;
                background-color: var(--color-primary);
                color: var(--color-secondary);
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    right: 2%;
                    border-bottom: 2px solid var(--color-secondary);
                    border-right: 2px solid var(--color-secondary);
                    transform: rotate(225deg);
                    transition: transform 0.3s ease ;
                }
                &.close-click::after{
                    transform: rotate(45deg);
                }
                &:hover{
                    cursor: pointer;
                }
            }
            p{ 
                background-color: #f6f6f6;
                text-align: left;
                overflow: hidden;
                border-radius: 10px;
                position: relative;
                span{
                    position: inherit;
                    &.open{
                        top: 0%;
                        opacity: 1;
                        transition: all 0.2s ease 0.3s;
                    }
                    &.close{
                        opacity: 0;
                        top: -100%;
                        transition: all 0.2s ease;
                    }
                }
                &.open{
                    transition: all 0.3s ease-in;
                }
                &.close{
                    height: 0px;
                    padding: 0px;
                    transition: all 0.3s ease-in 0.2s;
                }
            }
        }
    }
}
/*++++++++++++++++ A PROPOS */
div.a-propos{
    height: 250px;
    border-radius:25px ;
    background-image: url(../assets/images/a_propos.png);
    background-size: 100% 100%;
}
div.ap.content-text-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    article.ap{
        margin-bottom: 2%;
    }
}