@media screen  and (min-width: 601px) and (max-width: 991px){
    body{
        padding-left: 15px;
        padding-right: 15px;
    }  
    
    body > div#root > header,
    body > div#root > section{
        margin-bottom:30px;
    }

    section.banniere{
        justify-content: center;
        border-radius: 20px;
        &::after{
            border-radius: 20px;
        }
        h1{
            font-size: 38px;
        }
    }
    section.gallerie{
        padding:15px;
        background-color: #F7F7F7;
        article.thumb{
            margin:20px;
            width: 300px;
            height: 300px;
            figure{
                figcaption{
                    h3{
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 26px;
                    }
                }
            }
        }
    }
    /*++++++++++++++++ FICHE LOGEMENT */
    div.carrousel{
        margin-bottom: 50px;

        span.right-click{
            right:5%;
        }
        span.left-click{
            left: 5%;
            &::before{
                transform: rotate(135deg);
            }
        }
    }
    
    section.content{
        padding-left: 5px;
        padding-right: 5px;
        min-height: 715px;
        max-height: 1400px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 2%;
        div.details, aside.owner{
            width:100%;
        }
        aside.owner{
            margin-top: 40px;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            div.owner-id{
                width:100%;
                margin: auto;
                justify-content: space-between;
                h4{
                    font-size: 28px;
                    font-weight: 500;
                    line-height: 26px;
                    br{
                        display: none;
                    }
                }
                figure{
                    width: 64px;
                    height: 64px;
                }
            }
            div.notation{
                i{
                    font-size: 30px;
                }
            }
        }
        div.details{
            h1, h4{
                font-size: 36px;
                font-weight: 500;
            }
            h4{
                margin-top: 2%;
                font-size: 18px;
            }
            div.tags{
                margin-top: 2%;
                display: flex;
                justify-content: flex-start;
                width: auto;
                p.tag{
                    background-color: var(--color-primary);
                    width:auto;
                    height: 25px;
                    padding: 8px;
                    margin-right: 8px;
                    line-height: 8px;
                    border-radius: 10px;
                    text-align: center;
                    color: var(--color-secondary);
                }
            }
        }
    }
    /*++++++++++++++++ A PROPOS && LOGEMENT */
    section.content{
        div.content-text,
        div.content-text-about{
            margin-top: 2%;
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            article{
                margin-top: 30px;
                h4{
                    height: 42px;//52
                    line-height: 20px;//26
                    border-radius: 8px;//10
                    &::after{
                        top:calc(55% - ((15px + 2px)/2));
                        width: 13px;//15
                        height: 13px;
                    }
                }
                p{ 
                   padding: 20px; 
                }
            }
        }
    }
    /*++++++++++++++++ A PROPOS */
    div.a-propos{
        height: 250px;
        border-radius:20px ;
    }
    div.ap.content-text-about{
        article.ap, article{
            width:100%;
        }
    }
}