@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");
:root {
  --color-primary:#FF6060;
  --color-secondary: #FFFFFF;
  --carrousel-arrow-w: 50px;
  --carrousel-arrow-h: 50px;
  --carrousel-arrow-border-w: 8px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Stiky Footer to BOTTOM*/
div#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

section.gallerie, section.content, section._404 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*#######################*/
footer {
  background-color: black;
  height: 209px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer img {
  width: 122px;
  height: 40px;
  margin-bottom: 30px;
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(169deg) brightness(103%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(169deg) brightness(103%) contrast(101%);
}
footer p {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Montserrat", sans-serif;
  color: var(--color-primary);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1.slogan {
  color: white;
}

header {
  width: auto;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header nav ul.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav ul.header-menu li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /*a.normale{
     color: var(--color-primary);
     text-decoration: none; 
  }*/
}
header nav ul.header-menu li a.on-it {
  border-bottom: 2px solid var(--color-primary);
}

section.banniere {
  position: relative;
  height: 250px;
  background-color: gray;
  background-image: url(../assets/images/banniere_bg.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.banniere::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  background: black;
  opacity: 0.3;
}
section.banniere h1 {
  font-weight: 500;
  position: relative;
  z-index: 1;
}

section.gallerie {
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
}
section.gallerie article.thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
  overflow: hidden;
}
section.gallerie article.thumb figure, section.gallerie article.thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
section.gallerie article.thumb figure figcaption {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  margin: 20px;
}
section.gallerie article.thumb figure figcaption h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: var(--color-secondary);
}
section.gallerie article.thumb figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

/*++++++++++++++++ FICHE LOGEMENT */
div.carrousel {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
}
div.carrousel figure {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}
div.carrousel figure img, div.carrousel figure img.x-plan {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
div.carrousel figure img.first-plan {
  z-index: 2;
}
div.carrousel figure img.second-plan {
  z-index: 1;
}
div.carrousel figure figcaption {
  position: absolute;
  z-index: 3;
  bottom: 0;
  color: var(--color-secondary);
}
div.carrousel span.left-click,
div.carrousel span.right-click {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  width: var(--carrousel-arrow-w);
  height: var(--carrousel-arrow-h);
  top: calc(50% - (var(--carrousel-arrow-h) + var(--carrousel-arrow-border-w) * 2) / 2);
}
div.carrousel span.right-click::before,
div.carrousel span.left-click::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border-bottom: var(--carrousel-arrow-border-w) solid var(--color-secondary);
  border-right: var(--carrousel-arrow-border-w) solid var(--color-secondary);
}
div.carrousel span.right-click {
  right: 15px;
}
div.carrousel span.right-click::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
div.carrousel span.left-click {
  left: 15px;
}
div.carrousel span.left-click::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
div.carrousel .one-pic {
  display: none;
}

section.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2%;
}
section.content div.details, section.content aside.owner {
  width: 48%;
}
section.content aside.owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.content aside.owner div.owner-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.content aside.owner div.owner-id h4 {
  text-align: right;
}
section.content aside.owner div.owner-id figure {
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
}
section.content aside.owner div.owner-id figure img {
  width: 100%;
}
section.content aside.owner div.notation {
  margin-top: 2%;
}
section.content aside.owner div.notation i {
  color: #e3e3e3;
}
section.content aside.owner div.notation i.rate {
  color: var(--color-primary);
}
section.content div.details h1, section.content div.details h4 {
  font-size: 36px;
  font-weight: 500;
}
section.content div.details h4 {
  margin-top: 2%;
  font-size: 18px;
}
section.content div.details div.tags {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: auto;
}
section.content div.details div.tags p.tag {
  background-color: var(--color-primary);
  width: auto;
  height: 25px;
  padding: 8px;
  margin-right: 8px;
  line-height: 8px;
  border-radius: 10px;
  text-align: center;
  color: var(--color-secondary);
}

/*++++++++++++++++ A PROPOS && LOGEMENT */
section.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2%;
}
section.content div.details, section.content aside.owner {
  width: 48%;
}
section.content aside.owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.content aside.owner div.owner-id {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.content aside.owner div.owner-id h4 {
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
section.content aside.owner div.owner-id figure {
  background-color: gray;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}
section.content aside.owner div.owner-id figure img {
  width: 100%;
}
section.content aside.owner div.notation {
  margin-top: 2%;
}
section.content aside.owner div.notation i {
  color: #e3e3e3;
  font-size: 30px;
}
section.content aside.owner div.notation i.rate {
  color: var(--color-primary);
}
section.content div.details h1, section.content div.details h4 {
  font-size: 36px;
  font-weight: 500;
}
section.content div.details h4 {
  margin-top: 2%;
}
section.content div.details div.tags {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
}
section.content div.details div.tags p.tag {
  background-color: var(--color-primary);
  width: auto;
  margin-right: 8px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--color-secondary);
}
section.content div.content-text,
section.content div.content-text-about {
  margin-top: 2%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.content div.content-text article h4,
section.content div.content-text-about article h4 {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  position: relative;
}
section.content div.content-text article h4::after,
section.content div.content-text-about article h4::after {
  content: "";
  position: absolute;
  right: 2%;
  border-bottom: 2px solid var(--color-secondary);
  border-right: 2px solid var(--color-secondary);
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
section.content div.content-text article h4.close-click::after,
section.content div.content-text-about article h4.close-click::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
section.content div.content-text article h4:hover,
section.content div.content-text-about article h4:hover {
  cursor: pointer;
}
section.content div.content-text article p,
section.content div.content-text-about article p {
  background-color: #f6f6f6;
  text-align: left;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
section.content div.content-text article p span,
section.content div.content-text-about article p span {
  position: inherit;
}
section.content div.content-text article p span.open,
section.content div.content-text-about article p span.open {
  top: 0%;
  opacity: 1;
  -webkit-transition: all 0.2s ease 0.3s;
  transition: all 0.2s ease 0.3s;
}
section.content div.content-text article p span.close,
section.content div.content-text-about article p span.close {
  opacity: 0;
  top: -100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
section.content div.content-text article p.open,
section.content div.content-text-about article p.open {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
section.content div.content-text article p.close,
section.content div.content-text-about article p.close {
  height: 0px;
  padding: 0px;
  -webkit-transition: all 0.3s ease-in 0.2s;
  transition: all 0.3s ease-in 0.2s;
}

/*++++++++++++++++ A PROPOS */
div.a-propos {
  height: 250px;
  border-radius: 25px;
  background-image: url(../assets/images/a_propos.png);
  background-size: 100% 100%;
}

div.ap.content-text-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.ap.content-text-about article.ap {
  margin-bottom: 2%;
}

/*++++++++++++++++ ERROR 404 */
section._404 {
  text-align: center;
}
section._404 h1 {
  font-weight: 700;
}
section._404 p {
  font-weight: 500;
  margin-bottom: 182px;
}
section._404 a {
  border-bottom: 1px solid var(--color-primary);
}