@media screen and (min-width: 0px) and (max-width: 600px) {
  body {
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
  body > div#root > header,
body > div#root > section {
    margin-bottom: 20px;
  }
  header img {
    min-height: 37px;
    max-height: 47px;
    height: 50%;
  }
  section.banniere {
    height: 111px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 10px;
  }
  section.banniere::after {
    border-radius: 10px;
  }
  section.banniere h1 {
    width: 217px;
    font-size: 24px;
    line-height: 24px;
    margin-left: 20px;
  }
  section.gallerie {
    padding: 0px;
    background-color: none;
  }
  section.gallerie article.thumb {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 250px;
  }
  section.gallerie article.thumb figure figcaption h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
  }
  /*++++++++++++++++ FICHE LOGEMENT */
  section.content {
    padding-left: 5px;
    padding-right: 5px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2%;
  }
  section.content div.carrousel {
    margin-bottom: 20px;
    height: 255px;
    border-radius: 10px;
  }
  section.content div.carrousel span.right-click {
    right: 15px;
  }
  section.content div.carrousel span.right-click::before {
    right: 10px;
  }
  section.content div.carrousel span.left-click {
    left: 15px;
  }
  section.content div.details, section.content aside.owner {
    width: 100%;
  }
  section.content aside.owner {
    margin-top: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  section.content aside.owner div.owner-id {
    width: 30%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.content aside.owner div.owner-id h4 {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
  }
  section.content aside.owner div.owner-id h4 br {
    /*display: none;*/
  }
  section.content aside.owner div.owner-id figure {
    width: 32px;
    height: 32px;
  }
  section.content aside.owner div.notation i {
    font-size: 15px;
  }
  section.content div.details h1 {
    font-size: 18px;
  }
  section.content div.details h1, section.content div.details h4 {
    font-weight: 500;
  }
  section.content div.details h4 {
    margin-top: 2%;
    font-size: 14px;
  }
  section.content div.details div.tags {
    margin-top: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
  }
  section.content div.details div.tags p.tag {
    font-size: 10px;
    background-color: var(--color-primary);
    width: auto;
    height: 15px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 8px;
    line-height: 9.26px;
    border-radius: 5px;
    text-align: center;
    color: var(--color-secondary);
  }
  /*++++++++++++++++ A PROPOS && LOGEMENT */
  section.content div.content-text {
    height: 400px;
  }
  section.content div.content-text-about {
    height: 400px;
  }
  section.content div.content-text,
section.content div.content-text-about {
    margin-top: 2%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.content div.content-text article,
section.content div.content-text-about article {
    margin-bottom: 30px;
  }
  section.content div.content-text article h4,
section.content div.content-text-about article h4 {
    font-size: 13px;
    height: 30px;
    line-height: 12px;
    border-radius: 5px;
  }
  section.content div.content-text article h4::after,
section.content div.content-text-about article h4::after {
    top: calc(60% - 8.5px);
    width: 8px;
    height: 8px;
  }
  section.content div.content-text article p,
section.content div.content-text-about article p {
    font-size: 12px;
    padding: 20px;
  }
  /*++++++++++++++++ A PROPOS */
  div.a-propos {
    height: 220px;
    border-radius: 10px;
  }
  div.ap.content-text-about article.ap, div.ap.content-text-about article {
    width: 100%;
  }
}